html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
	-webkit-font-smoothing: antialiased;
		font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightgray; 
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}
.top-navigation {
	background-color:white;
	position: fixed;
	width: 100%;
	display:block;
	margin: 0em;

}
.content {
	height: 4.375rem;
	width: 60%;
	padding: 0px 15px;
	margin: 0px auto;
	min-width: 37.5rem;
}
.logo {
	height:4.375rem;
}
.top-navigation .links {
	float:right;

	color: #838994;
	font-size:16px;
	margin-top:25px;
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display:inline-block;
	margin-left: 25px;
}
.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	cursor:pointer;
	color: #333333;
}
.introduction {
	background-image: url("../IMAGES/first-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;	
}
.introduction .content > h1 {
	margin-top: 17.5rem;
	margin-bottom:0em;
	font-size: 3.125rem;
}
.introduction h1, .introduction h3 {
	text-align:center;
	color:white;
	font-weight: 300;
}
.introduction .content > h3 {
	margin-top:1.25rem;
	margin-bottom: 0px;
	font-size: 1.563rem;
	padding: 0px;
}
.introduction .buttons {
	text-align: center;
	color:white;
	margin-top: 1.563rem;
}
button {
	width: 9.6rem;
	background-color:#F15A29;
	border-color:#F15A29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	margin: 0px auto;
}
button:hover {
	background-color: #D9400E;
	border-color: #CF3D0E;
	cursor: pointer;
}
.cases .content{
	background-color:#FFF;
	padding-bottom:15rem;
	overflow:hidden;

}
h2 {
	color:black;
	text-align:center;
	vertical-align:baseline;
	padding-top:3rem;
	font-size:2.75rem;
	font-weight:300;
}
.devices li{
	display:inline-block;
	width:33.3333%;
	float:left;

}